<div class="accounts is-flex is-flex-direction-column is-justify-content-center">
    <h1 class="is-size-2 has-text-centered has-text-black">Welcome, {{landlord.name}}</h1>

    <div class="columns m-5 is-flex is-flex-wrap-wrap is-justify-content-space-around">
        <div class="ticket box column is-two-fifths has-text-black">
            <h2 class="is-size-4 p-3 has-text-centered">Your Contact Info:</h2>
            <p class="has-text-centered">Name: {{landlord.name}}</p>
            <p class="has-text-centered">Email: {{landlord.email}}</p>
            <div class="column has-text-centered">
                <button class="update-request-btn button is-black">Update</button>
            </div>
        </div>
    </div>




    {{#if units.length}}
    <div class="columns m-5 is-flex is-flex-wrap-wrap is-justify-content-space-around">
        <div class="ticket box column is-two-fifths has-text-black p-6">
            <h3 class="is-size-4 has-text-centered has-text-black">Current Tenants' Contact Info</h3>
            {{#each units as |unit|}}
            {{#if unit.tenant}}
            <p class="has-text-centered">Name: {{unit.tenant.name}}</p>
            <p class="has-text-centered">Email: {{unit.tenant.email}}</p>
            <div class="column has-text-centered">
                <button class="js-post-trigger is-black button" data-target="modal-post-form">Start a
                    conversation with {{unit.tenant.name}}</button>
            </div>

            {{!-- landlord post modal --}}
            <div class="modal modal-post modal-post-form">
                <div class="modal-background"></div>
                <div class="modal-content has-background-white py-5 px-5">
                    <h2 class="log-header is-size-4 has-text-centered mt-4">New Post</h2>
                    <form class="box column form update-form">
                        <div class="field">
                            <label class="label">Content:</label>
                            <div class="control">
                                <input class="input content-post" type="text">
                            </div>
                        </div>
                        <button class="button is-black post-btn" data-tenant-id="{{unit.tenant_id}}"
                            data-landlord-id="{{unit.landlord_id}}">Save</button>
                        <button class="button is-black close-btn">Close</button>
                        <button class="modal-close is-black button">Close</button>
                    </form>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
    {{/if}}

    <div class="modal modal-account">
        <div class="modal-background"></div>
        <div class="modal-content has-background-white py-5 px-5">
            <h2 class="log-header is-size-4 has-text-centered mt-4">Update your Profile</h2>
            <form class="box column form update-form">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" id="email-update" value="{{{landlord.email}}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="label">Name:</label>
                    <div class="control">
                        <input class="input" type="text" id="name-update" value="{{landlord.name}}">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" id="password-update" placeholder="********">
                    </div>
                </div>

                <button class="button is-black update-btn" data-landlord-id="{{landlord.id}}">Update</button>
                <button class="button is-black close-btn">Close</button>
                <button class="modal-close is-black button">Close</button>
            </form>
        </div>
    </div>

    <div class="modal success-modal">
        <div class="modal-background"></div>
        <div class="modal-content has-background-white py-5 px-5">
            <h3 class="is-size-4 has-text-centered">Account Updated Successfully!</h3>
            <button class="close-btn is-black button m-3">Close</button>
        </div>
    </div>
</div>

<script src="/js/update-acc-landlord.js"></script>
<script src="/js/new-convo-list.js"></script>