
<h1 class="is-size-2 has-text-centered m-4">My Properties</h1>

  {{#if units.length}}
  <div class="columns is-flex is-flex-wrap-wrap is-justify-content-space-around m-5">
  {{#each units as |unit|}}
  <div class="is-one-fifths column card">
    <div class="card-image">
      <figure>
          <a href="/landlord/unit/{{unit.id}}">
          <img src="/images/rental01.png" alt="" style="height:200px;width:200px;">
        </a>  
      </figure>
    </div>
    <div class="content">
      <p class="title is-6">{{unit.address}}</p>
    </div>
  </div>
  {{/each}}
  </div>
  {{/if}}


<div class="columns is-flex is-flex-wrap-wrap is-justify-content-space-around m-5">
  <div class="is-one-fifths column card">
    <div class="card-image">
      <figure>
          <a href="/landlord/unit/{{unit.id}}">
          <img src="/images/add-unit-01.png" alt="" style="height:200px;width:200px;">
        </a>  
      </figure>
    </div>
    <div class="content">
      <p class="title is-6">Add Property</p>
    </div>
  </div>

  <div class="is-one-fifths column card">
    <div class="card-image">
      <figure>
          <a class="js-modal-trigger" data-target="modal-tenant-create">
          <img src="/images/add-tenant-01.png" alt="icon for adding a new tenant" style="height:200px;width:200px;">
        </a>  
      </figure>
    </div>
    <div class="content">
      <p class="title is-6">Invite Tenant</p>
    </div>
  </div>

</div>

{{!-- modal for add property  --}}

{{!-- modal for create tenant  --}}
<div id="modal-tenant-create" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <div class="card" style="width=300px;">
      {{!-- add to a model after clicking 'create tenant account' ?? --}}
      <h2 class="log-header is-size-4 has-text-centered mt-4">Create Tenant Account</h2>
        <div class="column is-4 is-offset-4">
        <form class="form signup-form centered">
          <div class="form-group m-2">
            <label class="label">Email:</label>
            <div class="control has-icons-left has-icons-right">
                <input class="form-input is-danger" type="email" id="email-signup" placeholder="e.g. email@example.com">
            </div>
          </div>
          <div class="form-group m-2">
            <label class="label">Name:</label>
            <div class="control">
                <input class="form-input" type="text" id="name-signup" placeholder="Your Name">
            </div>        
          </div>
          <div class="form-group m-2">
            <label class="label">Password:</label>
            <div class="control">
                <input class="form-input  " type="password" id="password-signup" placeholder="********">
            </div>
          </div>

          {{!-- selection to associate new tenant with property  --}}
          <div class="form-group m-2">
            <div class="control">
                  <label class="label" for="unit">Select Property:</label>
                  <select class="form-input" name="unit" id="unit">
                    <option class="lightgrey" value="" disabled selected>Click to Select</option>
                  {{#each units as |unit|}}
                    {{!-- only show vacant properties  --}}
                    {{#if unit.is_vacant}}
                    <option value="{{unit.id}}">{{unit.address}}</option>
                    {{/if}}
                  {{/each}}
                  </select>
            </div>
          </div>

          <div class="form-group m-2">
            <button class="btn button is-black is-medium m-3 signup-form" type="submit" id="login-btn">Submit</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<script src="./js/properties.js"></script>
<script src="./js/new-tenant.js"></script>

