<div class="columns m-5 is-flex is-flex-wrap-wrap is-justify-content-space-around">
    <div class="box column is-two-fifths has-text-black">
        <h1 class="is-size-4 p-3 has-text-centered">Your Unit</h1>
        <p class="p-3">{{unit.address}}</p>
        <p class="p-3">Rent Cost: {{unit.rent_cost}}</p>
        <p class="p-3">Move in Date: {{format_date unit.move_in_date}}</p>
        <P class="p-3">Lease end Date: {{format_date unit.lease_end_date}}</P>
        <p class="p-3">Landlord ID: {{unit.landlord_id}}</p>
    </div>
</div>
{{> maintenance }}