<header>
  <a href="/landlord/properties">
    <h3 class="is-size-3 has-text-centered m-4">My Properties</h3>
  </a>
  <p class="is-size-4 has-text-centered">{{unit.address}}</p>
</header>

<div class="columns m-5 is-flex is-flex-wrap-wrap is-justify-content-space-around">
  {{!-- {{#each units as |unit|}} --}}
  <div class="box column is-two-fifths has-text-black is-flex">
    <div class="card-image" style="max-height:200px;max-width:200px;">
      {{!-- <a href="/landlord/unit/{{unit.id}}"> --}}
        <img src="/images/rental01.png" onerror="javascript:this.src='/images/rental01.png'" class="bing-address"
          id="{{unit.address}}" alt="" style="width=100%">
    </div>
    {{!-- </a> --}}

    {{!-- <p>{{unit.address}}</p> --}}
    <div>
      {{#if unit.is_vacant}}
      <p class="p-3 has-text-black">Unit is Vacant</p>
      <p class="p-3 has-text-black">Rent Cost: ${{unit.rent_cost}}</p>
      <p class="p-3 has-text-black">Move in Date: TBD</p>
      <p class="p-3 has-text-black">Lease End Date: TBD</p>
      {{else}}
      <p class="p-3 has-text-black">Rent Cost: ${{unit.rent_cost}}</p>
      <p class="p-3 has-text-black">Tenant ID: {{unit.tenant_id}}</p>
      <p class="p-3 has-text-black">Move in Date: {{format_date unit.move_in_date}}</p>
      <p class="p-3 has-text-black">Lease End Date: {{format_date unit.lease_end_date}}</p>
      {{/if}}
    </div>
  </div>
</div>
{{#if unit.maintenances.length}}
<h3 class="is-size-3 has-text-centered m-3">Maintenance Tickets:</h3>
{{> maintenance }}
{{else}}

{{/if}}


<script src="/js/bing.js"></script>