<div class="background-PMU">
    <header>
        <h1 class="is-size-3 p-3 has-text-centered has-text-black">Your Unit</h1>
        <p class="is-size-4 p-3 has-text-centered has-text-black">{{unit.address}}</p>
    </header>
    <div class="is-one-fifths column is-flex is-justify-content-center">


        <div class="box column is-flex is-two-fifths has-text-black">
            <div class="card-image" style="max-height:200px;max-width:200px;">
                <img src="/images/rental01.png" onerror="javascript:this.src='/images/rental01.png'"
                    class="bing-address" id="{{unit.address}}" alt="" style="width=100%">
            </div>
            <div>
                <p class="p-3 has-text-black">Rent Cost: {{unit.rent_cost}}</p>
                <p class="p-3 has-text-black">Move in Date: {{format_date unit.move_in_date}}</p>
                <P class="p-3 has-text-black">Lease end Date: {{format_date unit.lease_end_date}}</P>
                <p class="p-3 has-text-black">Landlord: {{unit.landlord.name}}</p>
                <div class="column has-text-centered">
                    <button class="js-post-trigger is-black button" data-target="modal-post-form">Start a conversation
                        with
                        {{unit.landlord.name}}</button>
                </div>
            </div>
        </div>
    </div>
    {{#if unit.maintenances.length}}
    <h3 class="is-size-3 has-text-centered m-3 has-text-black">Maintenance Tickets:</h3>
    {{> maintenance }}
    {{else}}

    {{/if}}

    {{!-- Add Post Modal --}}
    <div class="modal modal-post" id="modal-post-form">
        <div class="modal-background"></div>
        <div class="modal-content has-background-white py-5 px-5">
            <h2 class="log-header is-size-4 has-text-centered mt-4">New Post</h2>
            <form class="box column form update-form">
                <div class="field">
                    <label class="label">Content:</label>
                    <div class="control">
                        <input class="input content-post" type="text">
                    </div>
                </div>
                <button class="button is-black post-btn" data-tenant-id="{{unit.tenant_id}}"
                    data-landlord-id="{{unit.landlord_id}}">Save</button>
                <button class="button is-black close-btn">Close</button>
                <button class="modal-close is-black button">Close</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/bing.js"></script>
<script src="/js/new-convo.js"></script>